# --- API CONFIG ---
GEMINI_API_KEY=KEY_FROM_https://aistudio.google.com/api-keys
#GEMINI_MODEL=models/gemini-1.5-flash
#GEMINI_MODEL=models/gemini-3-flash-preview
GEMINI_MODEL=models/gemini-2.5-flash

# --- PATHS ---
SOURCE_DIR=src

# --- GLOBAL TOGGLES ---
ENABLE_W3C=True
ENABLE_GEMINI=True
#ENABLE_GEMINI=False

# --- CONTENT FILTERS ---
# HTML файлы
CHECK_HYPERTEXT=True
# CSS, SCSS, SASS
CHECK_STYLES=True
# JS, JSX, TS, TSX
CHECK_SCRIPTS=True

# Задержка между файлами в секундах (чтобы не банил W3C)
API_SLEEP=15_30

# Максимальное количество символов кода для отправки в Gemini
GEMINI_MAX_CHARS=30000

# Продолжать ли аудит с места остановки (True/False)
RESUME_AUDIT=True
# Имя файла для хранения промежуточного прогресса
TEMP_STATE_FILE=audit_state.temp.json